.post-container {
    $gray-mid: darken($gray-light, 25%);
    background-color: $custom-default-bg;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 10px;

    .post {
        padding: 10px;
    }

    button {
        font-size: 18px;
    }

    .header {
        display: flex;

        section {
            margin-left: 10px;
        }

        .username {
            color: $gray-dark;
            font-family: $montserrat;
            font-size: 24px;
            line-height: 1em;
            margin-bottom: 5px;
        }

        .time-ago {
            color: $gray-mid;
            font-size: 15px;
            margin-bottom: 0;
        }
    }

    .body {
        font-size: 20px;
        margin: 10px 0;
    }

    .footer {
        align-items: center;
        color: $brand-primary;
        display: flex;
        justify-content: space-between;

        button {
            color: #fff;
        }
    }

    .comments-container {
        form {
            background-color: $custom-default-bg;
            display: flex;
            margin: 0;
            padding: 5px;

            .input-container {
                color: $gray-mid;
                display: flex;
                flex: 1;

                ::placeholder {
                    color: $brand-primary;
                }
            }

            .form-control {
                align-self: center;
                background-color: transparent;
                margin: 0 20px;
                padding: 0;
                resize: none;
            }
        }
    }
}
