$link-color: #375a7f;
$link-hover-color: #fff;
$brand-primary: #4c608a;
$brand-danger: #b75050;
$brand-intermediary: #8c5667;
$body-bg: linear-gradient(135deg, $brand-danger, #336498);
//setup bootstrap with darkly theme
@import './theme/_variables.scss';
@import '{}/node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss';
@import './theme/_bootswatch.scss';

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,400,900');

$montserrat: 'Montserrat', sans-serif;
//user status colors
$online-color: #9acd32;
$idle-color: #ff8c00;

//chat bubble triangle size
$triangle-size: 10px;

@mixin triangle($direction, $horizontal, $vertical, $color) {
    border-style: solid;
    content: '';
    display: block;
    height: 0;
    width: 0;

    @if $direction == top {
        border-color: transparent transparent $color;
        border-width: 0 $vertical $horizontal;
    }
    @if $direction == bottom {
        border-color: $color transparent transparent;
        border-width: $vertical $horizontal 0 $vertical;
    }
    @if $direction == left {
        border-color: transparent $color transparent transparent;
        border-width: $vertical $horizontal $vertical 0;
    }
    @if $direction == right {
        border-color: transparent transparent transparent $color;
        border-width: $vertical 0 $vertical $horizontal;
    }
    @if $direction == topright {
        border-color: transparent $color transparent transparent;
        border-width: 0 $horizontal $vertical 0;
    }
    @if $direction == bottomright {
        border-color: transparent transparent $color;
        border-width: 0 0 $horizontal $vertical;
    }
    @if $direction == bottomleft {
        border-color: transparent transparent transparent $color;
        border-width: $horizontal 0 0 $vertical;
    }
    @if $direction == topleft {
        border-color: $color transparent transparent;
        border-width: $horizontal $vertical 0 0;
    }
}

//Page Level Styles
@import '../imports/ui/pages/Login/Login.scss';
@import '../imports/ui/pages/Messages/Messages.scss';
@import '../imports/ui/pages/UserProfile/UserProfile.scss';
@import '../imports/ui/pages/Dashboard/Dashboard.scss';


//Component Level Styles
@import '../imports/ui/components/FriendsList/FriendsList.scss';
@import '../imports/ui/components/Post/Post.scss';
@import '../imports/ui/components/PostComment/PostComment.scss';
@import '../imports/ui/components/PostComposer/PostComposer.scss';
@import '../imports/ui/components/OnlineFriends/OnlineFriends.scss';
@import '../imports/ui/components/RequestItem/RequestItem.scss';
@import '../imports/ui/components/UserTile/UserTile.scss';
@import '../imports/ui/components/NewUsers/NewUsers.scss';

* {
    box-sizing: border-box;

    &:focus,
    &:active {
        outline: none !important;
    }
}

body {
    background: $body-bg;
    min-height: 100vh;
}

.scroll-area {
    flex: 1;
}

img {
    max-width: 100%;
}

pre {
    code {
        white-space: pre;
    }
}

a {
    color: inherit !important;
    outline: none !important;
    text-decoration: none !important;

    &:hover,
    &:active,
    &:focus {
        color: inherit !important;
        outline: none !important;
        text-decoration: none !important;
    }
}

#content-container {
    min-width: 100%;

    #main-content {
        margin-right: 300px;

        &.full {
            margin-right: 0;

            .navbar {
                margin-right: 0;
            }
        }

        .navbar {
            margin-right: 300px;
            transition: background-color .5s ease;

            .dropdown {
                &.open {
                    background-color: rgba(215, 215, 215, .34);
                }

                >button {
                    border: 0;
                    line-height: 21px;
                    padding: 19.5px;

                    &:hover,
                    &:focus {
                        color: inherit;
                    }
                }
            }

        }
    }

}
