#online-friends {
    background-color: $custom-default-bg;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: flex-end;
    padding: 10px;
    position: fixed;
    right: 0;
    top: 0;
    width: 300px;

    >div {
        align-items: center;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        padding: 10px;

        .avatar {
            margin-right: 10px;
        }

        .username {
            flex: 1;
        }
    }

}
