#post-composer {
    background-color: $custom-default-bg;
    display: flex;
    margin-bottom: 10px;
    padding: 5px;

    ::placeholder {
        color: $gray-dark;
    }

    textarea {
        background-color: transparent;
        flex: 1;
        font-size: 18px;
        height: 1.1em;
        line-height: 1.1em;
        margin: 5px;
        padding: 10px 2px;
        resize: none;
    }
}
