#user-profile-page {
    header {
        background: $custom-default-bg;
        display: flex;
        flex-direction: column;
        height: 300px;
        justify-content: flex-end;
        margin-top: 20px;
        padding: 20px;

        section {
            display: flex;

            .avatar-container {
                align-items: flex-end;
                display: flex;
                justify-content: center;
                position: relative;
                top: 35px;

                .upload-container {
                    position: absolute;

                    button {
                        color: rgba($custom-default-bg, .9);
                        font-size: 30px;
                    }
                }
            }

            .actions-container {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                margin-left: 25px;

                button {
                    align-items: center;
                    color: $text-color;
                    display: flex;
                    font-size: 18px;
                    margin: 0;
                    padding-right: 20px;

                    &:not(:first-child) {
                        padding-left: 20px;
                    }

                    &.seperator {
                        border-right: 1px solid $custom-default-bg;

                    }

                    span {
                        margin-right: 5px;
                    }
                }
            }
        }

        .username {
            font-family: $montserrat;
            font-weight: 100;
            margin-left: 5px;
        }

        .avatar {
            border: 4px solid #fff;
        }
    }

    .upload-progress {
        height: 5px;

        div {
            background-color: $brand-primary;
            height: 100%;
            width: 0;
        }
    }

    #profile-content {
        margin-top: 15px;
    }
}
