#user-profile-page {
    header {
        background: $custom-default-bg;
        display: flex;
        flex-direction: column;
        height: 300px;
        justify-content: flex-end;
        padding: 20px;

        section {
            display: flex;

            .avatar-container {
                position: relative;
                top: 35px;

                .upload-container {
                    position: absolute;
                    right: 0;
                    top: 0;

                    button {
                        font-size: 24px;
                    }
                }
            }

            .actions-container {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                margin-left: 30px;
            }
        }

        .username {
            font-weight: 300;
            margin-bottom: 20px;
        }

        .avatar {
            border: 4px solid #fff;
        }
    }

    .upload-progress {
        height: 5px;

        div {
            background-color: $text-color;
            height: 100%;
            width: 0;
        }
    }

    #profile-content {
        margin-top: 15px;
    }
}
